<h1>Productos: </h1>
{{#each products}}
  <div style="border: 1px solid #000; border-radius: 1rem; padding: 1rem; margin-bottom: 1rem">
    <p> Title: {{this.title}} </p>
    <p> Description: {{this.description}} </p>
    <p> Price: {{this.price}} </p>
  </div>
{{/each}}